body {
  font-family: Merriweather, Work-sans, sans-serif;
  color: rgb(84, 101, 108); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef;
  margin: 0;
}

.container {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 70%;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family:Georgia, Geneva, Tahoma, sans-serif;
  
}

#emoji {
  display: block;
  width: 100px;
  margin: 0 auto 20px;
}

.weather-card {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  background-color: rgb(106, 145, 162);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: rgb(66, 91, 101);
}

div{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}